/* Layout - Footer
*******************************************************************************/

// Footer  ------------------------------------------
footer{
	background: url("../images/footerbg.jpg") no-repeat center top #28b70d;

	.footercontainer{
		padding: 66px 0 0 0;
		a{
			color: #fff;
		}

		p{ color: #fff;}
	}
}