extends layout

append config
	- var pageTitle = "Hosting Duck | Nuestro Producto"

	//- block append stylesheets
		link( href="../css/interior.css", rel="stylesheet", type="text/css" )

block content
	.row
		.container
			.row
				.col-md-12
					h3 Web Hosting, Sin Mentiras.
					p.lead Al igual que nuestra compañía, nuestro plan de alojamiento es una raza diferente, Hosting Duck refuerza con todo lo necesario para construir una exitosa presencia en la red. Y para ayudarte en cada paso del camino, contamos con un gran equipo, que te ayudara y te guiara para que alcances el éxito en lo que emprendas.
					p.text-xs-center: a(href="#"): img(src="images/getstarted.png", alt="") 
					p.text-xs-center 30 días o te devolvemos tu dinero.

	.row
		.container
			.row
				.col-md-8
					ul.list-unstyled
						li
							.media
								a(href="").media-left
									img(src="images/featuresicon1.png", alt="Generic placeholder image").media-object
								.media-body
									h4.media-heading Website Hosting.
									p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
						li
							.media
								a(href="").media-left
									img(src="images/featuresicon2.png", alt="Generic placeholder image").media-object
								.media-body
									h4.media-heading 100% Energia segura.
									p Nuestras oficinas y nuestro datacenter cuentan con ups y grupo electrónico de alto rendimiento, lo que nos asegura un constante suministro eléctrico para todo nuestro equipamiento.

						li
							.media
								a(href="").media-left
									img(src="images/featuresicon3.png", alt="Generic placeholder image").media-object
								.media-body
									h4.media-heading Todo a un click de distancia.
									p Crea tu sitio en pocos clicks, nuestro packs de herramientas preinstaladas, tene tu blog, carrito de compras. Sin tener experiencia en programación o HTML.

						li
							.media
								a(href="").media-left
									img(src="images/featuresicon4.png", alt="Generic placeholder image").media-object
								.media-body
									h4.media-heading Administra tu pagina web.
									p Maneja y controla tu sitio, tene un seguimiento de tus visitas y los recursos utilizados por tu pagina desde nuestro panel de control.

						li
							.media
								a(href="").media-left
									img(src="images/featuresicon5.png", alt="Generic placeholder image").media-object
								.media-body
									h4.media-heading Aplicaciones pre instaladas.
									p Si no contas con el diseño de tu pagina utiliza nuestro pack de aplicaciones pre instaladas, las cuales te ayudaran a tener tu sitio profesional en cuestiones de minutos, blogs, galerias de fotos son algunas de las aplicaciones más utilizadas.
						li
							.media
								a(href="").media-left
									img(src="images/featuresicon6.png", alt="Generic placeholder image").media-object
								.media-body
									h4.media-heading Online Store and Selling Tools
									p Si lo que estas buscando es vender tus productos por internet, este plan cuenta con un carrito de compras listo para utilizar, carga tus productos, maneja tu stock y tene tu sucursal en internet las 24hs.
						li
							.media
								a(href="").media-left
									img(src="images/featuresicon7.png", alt="Generic placeholder image").media-object
								.media-body
									h4.media-heading Emails @tuempresa.com
									p Crea hasta 100 cuentas de correo, @tu_empresa, lee tus correos desde cualquier lugar del mundo, desde nuestro webmail y hasta en tu celular Iphone o Blackberry.

						li
							.media
								a(href="").media-left
									img(src="images/featuresicon9.png", alt="Generic placeholder image").media-object
								.media-body
									h4.media-heading Mesa de ayuda las 24 hs.
									p Necesitas ayuda, te brindamos atención las 24 hs los 365 días del ano en tu idioma y en tiempo real. Utiliza nuestro chat y despeja las dudas.


				.col-md-4.sidebar
					h3: img(src="images/features.png", alt="Hosting plan")
					dl.row
						dt.col-md-8 Espacio en disco
						dd.col-md-4 Ilimitado

						dt.col-md-8 Trasferencia
						dd.col-md-4 Ilimitado

						dt.col-md-8 Cuentas de correo
						dd.col-md-4 100
						
						dt.col-md-8 Bases Mysql
						dd.col-md-4 3
						
						dt.col-md-8 Registro de dominio
						dd.col-md-4 Gratis
						
						dt.col-md-8 Herramientas pre instaladas
						dd.col-md-4 Gratis

					p.separador WordPress, phpBB, Joomla &amp; More

					dl.row
						dt.col-md-8 Carrito de compras
						dd.col-md-4 Si

						dt.col-md-8 Certificados SSL
						dd.col-md-4 Si

						dt.col-md-8 FTP y FTP extras
						dd.col-md-4 Ilimitado

						dt.col-md-8 Blog
						dd.col-md-4 Si

						dt.col-md-8 Foro de discusión
						dd.col-md-4 Si

						dt.col-md-8 Buscador interno
						dd.col-md-4 Si
						
						dt.col-md-8 24x7 Mesa de ayuda
						dd.col-md-4 Si
						
						dt.col-md-8 Garantia de satisfacción
						dd.col-md-4 30 días