extends layout

append config
	- var pageTitle = "Hosting Duck | Testimonios"

	//- block append stylesheets
		link( href="../css/interior.css", rel="stylesheet", type="text/css" )

block content
	.container
		.row
			.col-md-12
				h2 Testimonios
				hr

				ul.list-unstyled
					li 
						h3 Maria Marta Escobar.
						p Tengo un micro emprendimiento de venta de arreglos florales, mi diseñador me recomendó este Hosting, ya que tenia atención las 24hs. Soy cliente hace 8 meses y nunca tuve un problema.

					li
						h3 Andres Fernandez.
						p Soy programador y me desempeño haciendo desarrollos a medida, tiempo atrás tenia paquetes de hosting para revenderlos, se me complicaba mucho coordinar el pago de los clientes. Ahora gracias a Hosting Duck con este insignificante costo, lo incluyo dentro de mi solución, optimice mucho mis tiempos.

					li
						h3 Lorena Martinez.
						p Hola soy contadora y siempre quise tener mi cartera de clientes y dejar de trabajar en el estudio, gracias a Hosting Duck pude tener mi pagina, ya pasaron 7 meses desde que contrate el servicio gracias a conocidos y a Hosting Duck ya estoy manejando 4 cuentas en forma free lance.

					li
						h3 Martin Espinetto.
						p Realmente el hosting que estaba buscando, no sólo por precio, sino por estabilidad del sistema.

					li
						h3 Sergio Rodriguez.
						p Para mi negocio, estar siempre en línea y presente en internet es lo primordial, con Hosting Duck he conseguido una presencia sin interrupciones, logrando estar siempre visible ante mis clientes.

					li
						h3 Leila Serrano.
						p Soy cliente de Hosting Duck desde el año 2009. Considero el servicio prestado como de excelente calidad. El soporte técnico siempre ha llenado mis expectativas y hasta ahora no me han fallado como mi proveedor de Hosting.