/* Page - Nuestro producto
*******************************************************************************/
.sidebar{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 12px;
	padding-bottom: 15px;
	padding-top: 20px;

	.separador{
		background: #d1af2a;
		color: #fff;
		padding: 10px 0;
		text-align: center;
	}
}